<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirMonit_DLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AirMonit_DLog.Properties.Settings.BrokerIPDU" connectionString="127.0.0.1" />
        <add name="AirMonit_DLog.Properties.Settings.BrokerIPAlarm" connectionString="127.0.0.1" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <AirMonit_DLog.Properties.Settings>
            <setting name="Topics" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dataUploader</string>
                        <string>alarm</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AirMonit_DLog.Properties.Settings>
    </applicationSettings>
</configuration>