<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirMonit_DU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AirMonit_DU.Properties.Settings.BrokerIp" connectionString="127.0.0.1" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServiceCommunication" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50466/ServiceCommunication.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceCommunication"
                contract="CommunicationInfastructure.ServiceCommunication"
                name="BasicHttpBinding_ServiceCommunication" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <AirMonit_DU.Properties.Settings>
            <setting name="Topic" serializeAs="String">
                <value>dataUploader</value>
            </setting>
        </AirMonit_DU.Properties.Settings>
    </applicationSettings>
</configuration>