<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServiceCommunication" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50466/ServiceCommunication.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceCommunication"
                contract="CommunicationInfastructure.ServiceCommunication"
                name="BasicHttpBinding_ServiceCommunication" />
        </client>
    </system.serviceModel>
</configuration>